::ng-deep .p-splitbutton-menubutton, ::ng-deep .p-splitbutton-defaultbutton{
    padding: .25rem .4rem;
    font-size: 0.875rem;
  }
  ::ng-deep .p-multiselect.p-multiselect-chip .p-multiselect-token{
    border-radius: 2px;
    padding: 0.2rem;
  }
  ::ng-deep .p-cascadeselect .p-cascadeselect-label{
    padding: 0.2rem;
  }