::ng-deep .global-loading-spinner-flex {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    background: rgba(255, 255, 255, 0.8);
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  ::ng-deep .global-loading-spinner-flex.show {
    display: flex;
  } 