<router-outlet></router-outlet>
<div id="global-loading-spinner" class="global-loading-spinner-flex">
    <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<footer class="app-footer">
    <div class="footer-content">
        <div class="footer-left">
            <div class="center-all">
                <img width="200px" alt="Exploropleth logo" src="assets/images/logo-dark.png" />
            </div>
            <p class="mb-none">Created by: <a href="https://narechania.com" target="_blank">Arpit Narechania</a>, <a
                    href="https://va.gatech.edu/endert" target="_blank">Alex Endert</a>, <a
                    href="https://friendlycities.gatech.edu/" target="_blank">Clio Andris</a></p>
            <div class="footer-affiliations">
                <img src="../assets/images/gatech-logo.png" alt="Georgia Institute of Technology"
                    class="footer-affiliation-img" />
                <img src="../assets/images/hkust-logo.png" alt="The Hong Kong University of Science and Technology"
                    class="footer-affiliation-img" />
            </div>
        </div>
        <div class="footer-right">
            <ul class="footer-links">
                <li><a href="https://exploropleth.github.io" target="_blank" rel="noopener"><i
                            class="fas fa-globe"></i>&nbsp;Project Homepage</a></li>
                <li><a href="https://github.com/exploropleth/exploropleth" target="_blank" rel="noopener"><i
                            class="fab fa-github"></i>&nbsp;GitHub</a></li>
                <li><a href="https://youtu.be/lNV8VL0owqU" target="_blank" rel="noopener"><i
                    class="fas fa-video"></i>&nbsp;Video (YouTube)</a></li>
                <li><a target="_blank" rel="noopener"><i
                    class="fas fa-rocket"></i>&nbsp;Paper (CaGIS'25)</a></li>
            </ul>
            <div class="footer-copyright">
                &copy; 2025 Exploropleth. All rights reserved.
            </div>
        </div>
    </div>
</footer>